* {
  padding: 0px;
  margin: 0px;
}
.header {
    width: 45%;
    margin: 50px auto 0px;
    color: white;
    background: #03a9f4cf;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  position: relative;
  top: 50px;
}
#showcase {
  height: 1000px;
}
form {
    width: 45%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: rgba(0, 0, 0, 0.79);
    border-radius: 0px 0px 10px 10px;
    color: #d3d3d3;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-weight: bold;
}
.input-group-gender label {
    display: block;
    text-align: left;
    margin: 3px;
    font-weight: bold;
}
.input-group-gender label {
    display: inline;
}
.input-gender {
    margin: 8px 25px 9px 110px;
}
.input-gender label {
    margin: 0px 0px 0px 73px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 1px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.input-group #gen {
    height: 30px;
    width: 97%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 110px;

}
.input-group button{
  margin: 0px -90px 0px 150px;
}
/*PHP error*/
.error {
    width: 80%;
    margin: 19px 47px auto;
    padding: 10px;
    border: 1px solid #A94442;
    color: #944442;
    background: #F2DEDE;
    border-radius: 5px;
    text-align: left;
}

