@charset "utf-8";

/* CSS Document */

#showcase{
	height: 620px;
	border-bottom: 5px solid #000000;
	background-color: #a2a2a266;
}
#booking{
	background-color: #D3D3D3;
	position: relative;
	width: 380px;
	height: 450px;
	top: 105px;
	left: 800px;
	border: 2px solid #BDBDBD;
	border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#booking h4{
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
#booking select[type = from]{
	margin-top: 20px;
	width: 340px;
	height: 30px;
}
#booking select[type = to]{
	margin-top: 20px;
	width: 340px;
	height: 30px;

}
#booking input[type = date]{
	margin-top: 20px;
	width: 230px;
	height: 30px;
}
#bookinng label[type = to]{
	margin-top: 20px;
}
.button_3{
	height: 30px;
	width: 100px;
	background: #e8491d;
	border: 0;
	color: #000000;
}
.button_3 a{
	text-decoration: none;
	color: #000000;
}
form button:hover{
  color:#cccccc;
  font-weight:bold;
}
#goto{
	background-color: #D3D3D3;
	position: relative;
	width: 600px;
	height: 450px;
	top: -350px;
	left: 100px;
	border: 2px solid #BDBDBD;
	border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#goto li{
	margin-left: 45px;
	margin-top: 45px;
	text-decoration: none;
}
#goto li a{
	margin-top: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #012168
}

#goto h4{
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
#populartrains{
	border-top:25px solid #244C66;
	height: 480px;
	border-bottom: 25px solid #244C66;
	margin-top: -31px;
	background-color: #a2a2a266;
}
#populartrains h2{
	text-align: center;
	font-size: 50px;
	color: #0e2331;
}
#populartrains a{
	color: #000000;
	font-size: 20px;
  	text-decoration: none;
}
#populartrains .box{
	position: relative;
	left: 20px;
  	float:left;
  	text-align: center;
 	width:23%;
  	padding:5px;
  	padding-bottom: 10px; 
}
#populartrains .box img{
  	width:200px;
}
#populartrains .box:hover{
   	border: 4px solid #d3d3d300;
  	border-radius: 6px;
}